<div class="box wide">
  <div class="legend">
    <%= @showing_user.username %>
    <% if @user %>
      (<a href="/messages?to=<%= @showing_user.username %>">发送私信</a>)
    <% end %>
  </div>

  <div id="gravatar">
    <img src="<%= @showing_user.avatar_url %>">
  </div>

  <label class="required">状态:</label>
  <span class="d">
     <%= @showing_user.is_admin? ? "管理员" :
      (@showing_user.is_moderator? ? "会长" : "会员") %>
  </span>
  <br>

  <label class="required">加入时间:</label>
  <span class="d">
    <%= raw(time_ago_in_words_label(@showing_user.created_at)) %> ago
    <% if @showing_user.invited_by_user %>
      前, 受邀于
      <a href="/u/<%= @showing_user.invited_by_user.username %>"><%=
        @showing_user.invited_by_user.username %></a>
    <% else %>
      前
    <% end %>
  </span>
  <br>

  <label class="required">贡献(Karma):</label>
  <span class="d">
    <%= @showing_user.karma %>
    (平均 <%= number_with_precision(@showing_user.average_karma,
      :precision => 2) %>)
  </span>
  <br>

  <label class="required">提交报道:</label>
  <span class="d">
    <% tag = @showing_user.most_common_story_tag %>
    <a href="/newest/<%= @showing_user.username %>"><%=
      @showing_user.stories_submitted_count %></a><%= tag ? ", " : "" %>
    <% if tag %>
      most commonly tagged <a href="<%= tag_url(tag.tag) %>"
        class="tag tag_<%= tag.tag %>" title="<%= tag.description %>"><%=
        tag.tag %></a>
    <% end %>
  </span>
  <br>

  <label class="required">发表评论:</label>
  <span class="d">
    <a href="/threads/<%= @showing_user.username %>"><%=
      @showing_user.comments_posted_count %></a>
  </span>
  <br>

  <label class="required">自我介绍:</label>

  <div id="user_about" class="shorten_first_p">
    <% if @showing_user.about.present? %>
      <%= raw @showing_user.linkified_about %>
    <% else %>
      <span class="na">A mystery...</span>
    <% end %>
  </div>
</div>
