<div class="box wide">
  <div class="legend right">
		<a href="/u/<%= @user.username %>">个人资料</a>
  </div>
	<div class="legend">
		账户设置
	</div>

  <%= form_for @edit_user, :url => settings_url, :method => :post do |f| %>
    <%= error_messages_for f.object %>

    <div class="boxline">
      <%= f.label :username, "用户名:", :class => "required" %>
      <%= f.text_field :username, :size => 15 %>
    </div>

    <div class="boxline">
      <%= f.label :password, "新密码:", :class => "required" %>
      <%= f.password_field :password, :size => 40 %>
    </div>

    <div class="boxline">
      <%= f.label :password_confirmation, "密码确认:",
        :class => "required" %>
      <%= f.password_field :password_confirmation, :size => 40 %>
    </div>

    <div class="boxline">
      <%= f.label :email, "E-mail:", :class => "required" %>
      <%= f.text_field :email, :size => 40 %>
      <span class="hint">
        <a href="http://www.gravatar.com/" target="_blank">Gravatar头像关联</a>
      </span>
    </div>

    <div class="boxline">
      <%= f.label :pushover_user_key,
        raw("<a href=\"https://pushover.net/\">Pushover</a> User Key（若有则填）:"),
        :class => "required" %>
      <%= f.text_field :pushover_user_key, :size => 40 %>
    </div>

    <div class="boxline">
      <%= f.label :pushover_device, "Pushover Device（若有则填）:",
        :class => "required" %>
      <%= f.text_field :pushover_device, :placeholder => "optional",
        :size => 15 %>
    </div>

    <div class="boxline">
      <%= f.label :about, "自我描述:", :class => "required" %>
      <%= f.text_area :about, :size => "100x5", :style => "width: 600px;" %>
    </div>

    <div class="box">
      <div class="boxline markdown_help_toggler" style="margin-left: 9em;
      width: 600px;">
        <div class="markdown_help_label">
          Markdown 文本格式
        </div>

        <div style="clear: both;"></div>

        <%= render :partial => "global/markdownhelp" %>
      </div>
    </div>

    <div class="legend">
     评论回复通知设置
    </div>

    <div class="boxline">
      <%= f.label :email_replies, "接收E-mail:", :class => "required" %>
      <%= f.check_box :email_replies %>
    </div>

    <div class="boxline">
      <%= f.label :pushover_replies, "接收 Pushover 提示:",
        :class => "required" %>
      <%= f.check_box :pushover_replies %>
      <span class="hint">
        需要 Pushover user key
      </span>
    </div>

    <br>

    <div class="legend">
      评论提及通知设置
    </div>

    <div class="boxline">
      <%= f.label :email_mentions, "接收 E-mail:", :class => "required" %>
      <%= f.check_box :email_mentions %>
    </div>

    <div class="boxline">
      <%= f.label :pushover_mentions, "接收 Pushover 提示:",
        :class => "required" %>
      <%= f.check_box :pushover_mentions %>
      <span class="hint">
        需要 Pushover user key
      </span>
    </div>

    <br>

    <div class="legend">
      私信通知设置
    </div>

    <div class="boxline">
      <%= f.label :email_messages, "接收 E-mail:", :class => "required" %>
      <%= f.check_box :email_messages %>
    </div>

    <div class="boxline">
      <%= f.label :pushover_messages, "接收 Pushover 提示:",
        :class => "required" %>
      <%= f.check_box :pushover_replies %>
      <span class="hint">
        需要 Pushover user key
      </span>
    </div>

    <br>
    <%= f.submit "保存所有设置" %>
  <% end %>

  <br>
  <br>

  <a name="invite"></a>
  <div class="legend">
		邀请会员
	</div>

  <%= render :partial => "users/invitationform" %>
</div>
