<%= error_messages_for f.object %>

<div class="box">
  <div class="boxline">
  <% if f.object.url_is_editable_by_user?(@user) %>
    <%= f.label :url, "链接(URL):", :class => "required" %>
    <%= f.text_field :url, :autocomplete => "off" %>
    <%= button_tag "获取标题", :id => "story_fetch_title",
      :type => "button" %>
  <% elsif !f.object.new_record? && !f.object.url.blank? %>
    <%= f.label :url, "链接(URL):", :class => "required" %>
    <div class="d">
    <a href="<%= f.object.url %>"><%= f.object.url %></a>
    </div>
  <% end %>
  </div>

  <div class="boxline">
    <%= f.label :title, "标题:", :class => "required" %>
    <%= f.text_field :title, :maxlength => 100, :autocomplete => "off"  %>
  </div>

  <div class="boxline" style="margin-bottom: 2px;">
  <%= f.label :tags_a, "标签:", :class => "required",
    :style => "line-height: 2.3em;" %>
  <%= f.select "tags_a", options_for_select(
    Tag.all_with_filtered_counts_for(@user).map{|t|
    [ "#{t.tag} - #{t.description}", t.tag, { "data-html" => raw("<strong>") +
      t.tag + raw("</strong> - ") + t.description.to_s +
      (t.filtered_count == 0 ? "" :
      raw(" <em>") + "#{t.filtered_count} user" +
      (t.filtered_count == 1 ? "" : "s") + " filtering" +
      raw("</em>")) } ]}, f.object.tags_a), {}, { :multiple => true } %>
  </div>

  <div class="boxline">
    <%= f.label :description, "内容:", :class => "required" %>
    <%= f.text_area :description, :rows => 15,
      :placeholder => "如果分享链接(URL),则可选填; 请参考下面的使用教程",
      :autocomplete => "off" %>
  </div>
</div>

<script>
  $(document).ready(function() {
    $("#story_fetch_title").click(function() {
      Lobsters.fetchURLTitle($(this), $("#story_url"), $("#story_title"));
      return false;
    });
  });
</script>
