<li id="story_<%= story.short_id %>" data-shortid="<%= story.short_id %>"
class="story <%= story.vote == 1 ? "upvoted" : (story.vote == -1 ?
"downvoted" : "") %> <%= story.is_expired? ? "expired" : "" %>">
  <div class="voters">
    <% if @user %>
      <a class="upvoter"></a>
    <% else %>
      <%= link_to "", login_url, :class => "upvoter" %>
    <% end %>
    <div class="score"><%= story.upvotes - story.downvotes %></div>
    <% if @user %>
      <a class="downvoter"></a>
    <% else %>
      <%= link_to "", login_url, :class => "downvoter" %>
    <% end %>
  </div>
  <% if story.assets.any? %>
    <% @img_url = begin
      story.assets[-1].asset.url(:small)
    rescue Exception => e
      nil
    end%>
    <% unless @img_url.nil? %>
      <div class="voters">
        <span class="img">
          <img src="http://<%= @img_url%>" alt="<%=story.url%>" title="<%= story.title%>" />
          <%#= image_tag @img_url, :style => "width:auto; height:auto; vertical-align:middle;" %>
        </span>
      </div>
    <% end %>
  <% end %>

  <div class="<% unless @img_url.nil? %>img_details<% end %> details">
    <span class="link">
      <% if story.can_be_seen_by_user?(@user) %>
        <a href="<%= story.url_or_comments_url %>" target="_blank"><%= story.title %></a>
      <% end %>
      <% if story.is_gone? %>
        [此报道已被 <%= story.is_moderated? ? "会长" :
          "原发布者" %>删除]
      <% end %>
    </span>
    <% if story.can_be_seen_by_user?(@user) %>
      <span class="tags">
        <% story.taggings.sort_by{|t| t.tag.tag }.sort_by{|t|
        t.tag.tag == "pdf" ? -1 : 0 }.each do |tagging| %>
          <a href="<%= tag_url(tagging.tag.tag) %>" class="tag tag_<%=
            tagging.tag.tag %>" title="<%= tagging.tag.description %>"><%=
            tagging.tag.tag %></a>
        <% end %>
      </span>
      <span class="domain"><%= story.domain %></span>
    <% end %>
    <div class="byline">
      <% if story.previewing %>
        我<a><%= story.user.username %></a>
        刚刚
      <% else %>
        <a href="/u/<%= story.user.username %>"><%= story.user.username
          %></a> <%= raw(time_ago_in_words_label(story.created_at).
          gsub(/^about /, "")) %>前

        <% if story.is_editable_by_user?(@user) %>
          |
          <a href="<%= edit_story_url(story.short_id) %>">编辑</a>

          <% if story.is_gone? && story.is_undeletable_by_user?(@user) %>
            |
            <%= link_to "恢复", story_undelete_url(story.short_id),
              :method => :post, :data => {
              :confirm => "确定恢复此报道?" } %>
          <% elsif !story.is_gone? %>
            |
            <% if story.user_id != @user.try(:id) &&
            @user.try(:is_moderator?) %>
              <%= link_to "删除", story_url(story.short_id),
                :method => :delete, :class => "mod_story_link" %>
            <% else %>
              <%= link_to "删除", story_url(story.short_id),
                :method => :delete, :data => {
                :confirm => "确定要删除此报道?" } %>
            <% end %>
          <% end %>
        <% end %>
        <% if !story.is_gone? %>
          |
          <a href="<%= story.comments_url %>"><%=
            (c = story.comment_count) == 0 ? "评论" :
            "#{c} 条评论#{c == 1 ? "" : ""}" %></a>
        <% end %>

        <% if defined?(single_story) && single_story %>
          <% if story.downvotes > 0 &&
          (story.user_id == @user.try(:id) || @user.try(:is_moderator?)) %>
            | <%= story.vote_summary.downcase %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</li>
