<div class="box" id="story_box">
	<div class="legend">
		编辑报道
	</div>

	<%= form_for @story, :url => story_url(@story.short_id),
  :method => :put do |f| %>
		<%= render :partial => "stories/form", :locals => { :story => @story,
      :f => f } %>

    <% if @story.user_id != @user.id %>
      <div class="box">
        <div class="boxline">
          <%= f.label :moderation_reason, "修改原因:",
            :class => "required" %>
          <%= f.text_field :moderation_reason, :autocomplete => "off" %>
        </div>
      </div>
    <% end %>

    <p></p>

    <div class="box">
      <div class="boxline markdown_help_toggler">
        <div class="markdown_help_label">
          Markdown 语法介绍
        </div>

        <%= submit_tag "保存" %>
        &nbsp;or <a href="<%= story_url(@story.short_id) %>">取消编辑</a>

        <div style="clear: both;"></div>

        <%= render :partial => "global/markdownhelp",
          :locals => { :allow_images => true } %>
      </div>
    </div>
	<% end %>
</div>
