<div class="box" id="story_box">
  <div class="legend">
    提交报道(原创/引用)
  </div>

  <div id="story_holder">
    <%= form_for @story, :html =>{:multipart => true} do |f| %>
      <%= render :partial => "stories/form", :locals => { :story => @story,
        :f => f } %>

      <p></p>

      <div class="box">
        <div class="boxline markdown_help_toggler">
          <a href="#" id="story_guidelines_toggler">
            使用教程
          </a>
          <div id="story_guidelines" style="<%= @user && @user.stories_submitted_count > 2 ? "display: none;" : "" %>">
            
            <div id="step">
              <p><span class="message" style="color: red;">&nbsp;</span></p>
              <div id="arrow"></div>
            </div>

            <ul>
            <li>
              <div style="float: right;">
              <a id="quoteredlet" href="javascript:window.location=%22<%= root_url %>stories/new?url=%22+encodeURIComponent(document.location)+%22&title=%22+encodeURIComponent(document.title)" onclick="alert('把该按钮拖放到书签栏.'); return false">+<%= Rails.application.name %></a>
              </div>
            <p>
            为了方便提交报道，你可将<b>右边的按钮"+<%= Rails.application.name %>"</b>拖放到浏览器的书签栏。 <b>当要分享文章的时候，点击该书签即可将文章提交到本网站。</b>
              <br>
              <i>*提示：Chrome浏览器按快捷键【Ctrl+Shift+B】显示书签；把右边的图标拖上去.<br>
                IE浏览器: 在图标上点右键，选择“添加到收藏夹”.<br>
                Firefox按快捷键【Ctrl+B】</i>
            </p>

            <li><p>
              使用本网站的两种情况：<br>
              一种是在雨服务<b>分享文章</b>，这需要提供原文章的链接(URL)和标题，内容部分可选填。<br>
              一种是在雨服务<b>发表文章</b>，这种情况下，不需要提交链接(URL), 只需要提交标题和内容。
              </p></li>

            <li><p>
              <b>标签</b>是必选项；如果没有合适的标签来标记你报道的文章，说明此文章不适合在这里发表，为了保证阅读的质量，最好不要滥竽充数.
            </p></li>

            <li><p>
              如果报道的内容是很久的内容(一年多前的，或更久)， 最好在标题前用括号加一个年份. 以方便读者阅读。
              </p></li>

            <li><p>
              如果你提交的报道在30天内已经被提交过了的，则程序会自动跳转到上次报道页面，避免重复提交。
              </p>

            </ul>
          </div>
        </div>
      </div>

      <p></p>

      <div class="box">
        <div class="boxline markdown_help_toggler">
          <div class="markdown_help_label">
            Markdown 语法介绍
          </div>

          <%= submit_tag " 提交报道 " %>

          &nbsp;
          <button type="button" class="story-preview">预览</button>

          <div style="clear: both;"></div>

          <%= render :partial => "global/markdownhelp",
            :locals => { :allow_images => true } %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div id="story_preview">
  <% if @story.previewing && @story.valid? %>
    <%= render :template => "stories/show" %>
  <% end %>
</div>

<script>
  $(document).ready(function() {
    <% if @story.previewing %>
      $("#story_tags_a").select2({
        formatSelection: function(what) {
          return what.id;
        }
      });
    <% else %>
      $("#story_url").focus();

      $("button.story-preview").unbind().on("click", function() {
        Lobsters.previewStory($(this).parents("form").first());
      });

      $("#story_url").unbind().on("blur", function() {
        /* if the url looks like a pdf, assign the pdf tag */
        if ($("#story_url").val().match(/\.pdf$/i)) {
          var ta = $("#story_tags_a").data("select2");

          if (ta.getVal().indexOf("pdf") < 0)
            ta.addSelectedChoice({ id: "pdf" });
        }
        /* if the url looks like a video site url, assign the video tag */
        else if ($("#story_url").val().match(/[\/\.](youtube|vimeo)\.com\//i)) {
          var ta = $("#story_tags_a").data("select2");

          if (ta.getVal().indexOf("video") < 0)
            ta.addSelectedChoice({ id: "video" });
        }
      });
    <% end %>

    $("#story_guidelines_toggler").unbind().on("click", function() {
      $("#story_guidelines").toggle();
      return false;
    });

    //quoterlet
    drag_quoterlet();
  });

  //private function
  function update_status(e) {
    $("#step .message").html(e), $("#quoteredlet_message").html("&larr; " + e)
  }

  function drag_quoterlet() {
    var dragging_quoteredlet = !1,
    installed_quoteredlet = !1,
    arrow = $("#arrow") 
    y = 0,
    DURATION = 200;

    $("#quoteredlet").mouseenter(function () {
        arrow.fadeIn(), update_status("鼠标点击按钮不放，把按钮拖到浏览器上面的书签栏去!")
    }),

    $("#quoteredlet").mouseleave(function () {
        dragging_quoteredlet || arrow.fadeOut(), update_status("将此按钮拖放到上面的书签栏.")
    }), 
    
    $("#quoteredlet").mousedown(function () {
        update_status("嗯，往上拖动!"), dragging_quoteredlet = !0
    }), 

    $(document).on("dragend", function (e) {
        dragging_quoteredlet && (arrow.fadeOut(), y > 50 ? update_status("你好像没有完成，再试一次吧！") : (installed_quoteredlet = !0, update_status("将此按钮拖放到上面的书签栏."))), dragging_quoteredlet = !1
    }), 
    $(document).on("dragover", function (e) {
        dragging_quoteredlet && (y = e.originalEvent.clientY, y > 200 ? update_status("继续向上!") : y > 100 ? update_status("恩，快到了，继续向上!") : y > 2 ? update_status("继续向上!") : update_status("好，松手!"))
    })
  };
</script>