<div class="box" id="story_box">
  <div class="legend">
    提交一个报道
  </div>

  <div id="story_holder">
    <%= form_for @story do |f| %>
      <%= render :partial => "stories/form", :locals => { :story => @story,
        :f => f } %>

      <p></p>

      <div class="box">
        <div class="boxline markdown_help_toggler">
          <a href="#" id="story_guidelines_toggler">
            使用教程
          </a>
          <div id="story_guidelines" style="<%= @user &&
          @user.stories_submitted_count > 2 ? "display: none;" : "" %>">
            <div style="float: right;">
            <a href="javascript:window.location=%22<%= root_url %>stories/new?url=%22+encodeURIComponent(document.location)+%22&title=%22+encodeURIComponent(document.title)"
            style="border: 1px solid #ddd; padding: 0.5em; background-color:
            #f8f8f8; line-height: 1.5em; margin-left: 1em;">提交到雨服务</a>
            </div>
            <ul>

            <li>
            <p>
              为了方便提交报道，你可将右边的按钮拖当浏览器的书签栏。 
              (Chrome浏览器，快捷键Ctrl+Shift+B将显示标签；IE浏览器通过快捷键Ctrl+Shift+I打开书签栏)；在要报道的页面，点击书签“提交的雨服务”，将直接打开雨服务提交页面，且已经自动获取到了地址和标题。
            </p>

            <li><p>
              两种情况：<br>
              一种是在雨服务分享文章，这需要提供原文章的链接(URL)和标题，内容部分可选填。<br>
              一种是在雨服务发表文章，这种情况下，不需要提交链接(URL), 只需要提交标题和内容。
              </p></li>

            <li><p>
              标题是内容的概括，切题的标题能吸引真正感兴趣的用户，影响到报道的评分效果.
              </p></li>

            <li><p>
              标签是不选项；如果没有合适的标签来标记你报道的文章，说明此文章不适合在这里发表，为了保证阅读的质量，最好不要滥竽充数.
              </p></li>

            <li><p>
              如果报道的内容是很久的内容(一年多前的，或更久)， 最好在标题前用括号加一个年份.
              </p></li>

            <li><p>
              如果你提交的报道在30天内已经被提交过了的，则程序会自动跳转到上次报道页面，避免重复提交。
              </p>

            </ul>
          </div>
        </div>
      </div>

      <p></p>

      <div class="box">
        <div class="boxline markdown_help_toggler">
          <div class="markdown_help_label">
            Markdown 语法介绍
          </div>

          <%= submit_tag "提交" %>

          &nbsp;
          <button type="button" class="story-preview">预览</button>

          <div style="clear: both;"></div>

          <%= render :partial => "global/markdownhelp",
            :locals => { :allow_images => true } %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div id="story_preview">
  <% if @story.previewing && @story.valid? %>
    <%= render :template => "stories/show" %>
  <% end %>
</div>

<script>
  $(document).ready(function() {
    <% if @story.previewing %>
      $("#story_tags_a").select2({
        formatSelection: function(what) {
          return what.id;
        }
      });
    <% else %>
      $("#story_url").focus();

      $("button.story-preview").unbind().live("click", function() {
        Lobsters.previewStory($(this).parents("form").first());
      });

      $("#story_url").unbind().live("blur", function() {
        /* if the url looks like a pdf, assign the pdf tag */
        if ($("#story_url").val().match(/\.pdf$/i)) {
          var ta = $("#story_tags_a").data("select2");

          if (ta.getVal().indexOf("pdf") < 0)
            ta.addSelectedChoice({ id: "pdf" });
        }
        /* if the url looks like a video site url, assign the video tag */
        else if ($("#story_url").val().match(/[\/\.](youtube|vimeo)\.com\//i)) {
          var ta = $("#story_tags_a").data("select2");

          if (ta.getVal().indexOf("video") < 0)
            ta.addSelectedChoice({ id: "video" });
        }
      });
    <% end %>

    $("#story_guidelines_toggler").unbind().live("click", function() {
      $("#story_guidelines").toggle();
      return false;
    });
  });
</script>
