<div class="box wide">
	<div class="legend">
		修改密码
	</div>

  <%= form_tag set_new_password_url, { :autocomplete => "off" } do %>
    <%= error_messages_for(@reset_user) %>

		<%= hidden_field_tag "token", params[:token] %>

		<p>
		<%= label_tag :username, "用户名:" %>
		<%= @reset_user.username %>
		<br />

		<%= label_tag :password, "新密码:" %>
		<%= password_field_tag :password, "", :size => 30 %>
		<br />

		<%= label_tag :password_confirmation, "密码确认:" %>
		<%= password_field_tag :password_confirmation, "", :size => 30 %>
    <br />

    <p>
    <%= submit_tag "提交" %>
    </p>
  <% end %>
</div>
