<div class="box wide">
  <div class="legend">
		过滤标签
	</div>

  <p>
  通过隐藏标签，过滤你不感兴趣的内容。
  </p>

  <%= form_tag "/filters", :method => :post do %>
    <table class="data zebra" cellspacing=0 width="75%">
    <tr>
      <th width="7%">隐藏</th>
      <th width="15%">标签</th>
      <th width="78%">描述</th>
    </tr>
    <% Tag.order(:tag).accessible_to(@user).each do |tag| %>
      <tr>
        <td><input type="checkbox" name="tag_<%= tag.tag %>" value=1
          <%= @filtered_tags.map{|ft| ft.tag_id }.include?(tag.id) ?
          "checked" : "" %>></td>
        <td><a href="/t/<%= tag.tag %>" class="tag tag_<%= tag.tag %>"><%=
          tag.tag %></a></td>
        <td><%= tag.description %>
          <% if tag.filtered_by_default? %>
            <em>(Filtered by default)</em>
          <% end %></td>
      </tr>
    <% end %>
    </table>
    <p>
    <%= submit_tag "保存过滤器" %>
    </p>
  <% end %>
</div>
